@use '../gate' as *;

/// flip-left, flip-right, flip-up, flip-down

@include motus-gate {
  [data-motus^='flip'][data-motus^='flip'] {
    backface-visibility: hidden;
    transition-property: transform;
  }

  [data-motus='flip-left'] {
    transform: perspective(2500px) rotateY(-100deg);

    &.motus-animate {
      transform: perspective(2500px) rotateY(0);
    }
  }

  [data-motus='flip-right'] {
    transform: perspective(2500px) rotateY(100deg);

    &.motus-animate {
      transform: perspective(2500px) rotateY(0);
    }
  }

  [data-motus='flip-up'] {
    transform: perspective(2500px) rotateX(-100deg);

    &.motus-animate {
      transform: perspective(2500px) rotateX(0);
    }
  }

  [data-motus='flip-down'] {
    transform: perspective(2500px) rotateX(100deg);

    &.motus-animate {
      transform: perspective(2500px) rotateX(0);
    }
  }
}
